[data-page="paper-task"] {
  margin: 3px;

  .task-card {
    border: 1px solid rgb(239 195 230) !important;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  :hover {
    background-color: #f3ebfa;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
