[data-page="paper-task"] {
  margin: 3px;
  word-break: break-all;

  .task-card {
    display: flex;
    justify-content: space-between;

    border: 1px solid rgb(239 195 230) !important;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  .checked {
    background-color: #eee1f9;
  }
  .checkbox-task {
    color: #d38fc5;
    & > input:checked ~ svg {
      color: #d38fc5;
    }
  }
  :hover {
    background-color: #e7d0fb;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
