body {
    background-image: url('../../assets/img/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% auto 0 auto;

}